/* Responsive UI*/

/* Start with core styles outside of a media query that apply to mobile and up */
/* Global typography and design elements, stacked containers */
body { font-family: Helvetica, san-serif; }
H1 { color: green; }
a:link { color:purple; }

/* Stack the two content containers */
.main,
.sidebar { display:block; width:100%; }

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em){
    .main { float: left; width:60%; }
    .sidebar { float: left; width:40%; }
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em){
    .main { width:70%; }
    .sidebar { width:30%; }

    /* You can also tweak any other styles in a breakpoint */
    H1 { color: blue; font-size:1.2em }
}



body {
    font-family: "Ubuntu";
    font-size: 0.80em;
    font-weight: normal;
    padding: 0;
    margin: 0;
    // background: navy;
    background: linear-gradient(black, dodgerblue) fixed;
    //background: linear-gradient(navy, rgb(4, 9, 90)) fixed;
}

/* Link */
a:link {
    display:inline-block;
    padding-left:0px;
    font-family: 'Ubuntu';
    font-size: 0.95em;
    color: cyan;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a:visited {
    color: yellow;
}

a:hover {
    color: red;
}

a.CLS_MAILTO {
    color: cyan;
    font-family: 'Ubuntu';
    font-size: 0.95em;
    font-weight: normal;
    width: auto;
    text-align: left;
    text-decoration: underline;
}

a.CLS_MAILTO:hover {
    color: orange;
}

/* Div */
div.CLS_DIV_CEN {
    width: 100%;        
    height: auto;
    margin-left: 12px;
    margin-right: auto;
    overflow: hidden;
}

div.CLS_DIV_INP {
    width: 100%;
    padding-left: 0px;
    float: left;
    display: table-row;
}

div.CLS_DIV_INP div.CLS_DIV_INP_1 {
    width:1%;
    height: 100px;
    float:left;
    display:table-cell;
    border:0px solid yellow;
}

div.CLS_DIV_INP div.CLS_DIV_INP_2 {
    width: 47%;
    padding-top: 0px;
    float: left;
    /* flow: vertical; */
    display: table-cell;
    border:0px solid red;
}



div.CLS_DIV_BUT {
    width: 25%;
    float: left;
    margin-top:8px;
    height: 32px;
    border: 0px solid white;
}

.tabletop {
    float: left;
    /*width: 25%;*/
    padding-top: 0px;
    margin-left:20px;
    color: white;
    margin-right: 10px;
    border: 0px solid cyan;
    font-family: "Ubuntu";
    font-size: 1.00em;
    font-weight: normal;

    margin-top:20px;
    display:table-cell;
}


/* Pages with Table */
.CLS_DIV_HOL {
    width: 90%;
    height: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px solid green;
}

br {
    line-height: 100%;
}

/* Label */
.label {
    float: left;
    width: 100%;
    padding-top: 0px;
    color: pink;
    color: white;
    margin-right: 10px;
    padding-left: 10px;
    border: 0px solid cyan;
    font-family: "Ubuntu";
    font-size: 0.95em;
    font-weight: normal;
}



.text  {
    width: 100%;
    margin-left: 10px;
    color: black;
    /*color: #2B60DE;*/
    border: 1px solid #c4c4c4;
    /*height: 18px;*/
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
/*    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;*/
    font-family: "Ubuntu";
    font-size: 0.95em;
    font-weight: normal;
}

/* Focus */
.text:focus {
    outline: none;
    border: 2px solid cyan;
    box-shadow: 0px 0px 8px cyan;
    -moz-box-shadow: 0px 0px 8px cyan;
    -webkit-box-shadow: 0px 0px 8px cyan;
}


/* Select */
.select {
    width: 102%;
    margin-left: 10px;
    border: 1px solid #c4c4c4;
    color: black;
    /*color: #2B60DE;*/
    height: 26px;
    padding: 2px 2px 2px 2px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    font-family: "Ubuntu";
    font-size: 0.95em;
    font-weight: normal;
}



/* Textarea - myr */
.textarea {
    border: 1px solid #c4c4c4;
    padding: 2px 2px 2px 2px;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-shadow: 0px 0px 4px #d9d9d9;
    -moz-box-shadow: 0px 0px 4px #d9d9d9;
    -webkit-box-shadow: 0px 0px 4px #d9d9d9;

    /*color: #2B60DE;*/

    float: left;
    /*vertical-align: top;*/
    margin-left: 10px;
    width: 100%;
    height:00px;
    color: dimgray;
    /*color: #2B60DE;*/
    text-align: left;
    resize: none;
    word-wrap: normal;
    font-family: "Ubuntu";
    font-size: 0.90em;
    font-weight: normal;
}

/* Focus */
.textarea:focus {
    outline: none;
    border: 1px solid cyan;
    box-shadow: 0px 0px 8px cyan;
    -moz-box-shadow: 0px 0px 8px cyan;
    -webkit-box-shadow: 0px 0px 8px cyan;
}


#id_tar_myr:focus {
    border: 2px solid cyan;
}



input[type="button"] {
    width: 31px;
    height: 32px;
    border: 0px solid white;
}

input[type="button"]:disabled {
    opacity: 0.25;
}

input[type=checkbox] {
    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(0.5);
    /*zoom:1.01;*/
    width:24px;
}


/* Buttons */
input[type="submit"] {
    width: 108px;
    font-weight: bold;
    color: white;
    font-family: "Ubuntu";
    font-size: 0.95em;
    background-image: url(../icon/bg-purple.jpg);

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-shadow: 0px 0px 4px #d9d9d9;
    -moz-box-shadow: 0px 0px 4px #d9d9d9;
    -webkit-box-shadow: 0px 0px 4px #d9d9d9;
}

.imageUpload {
    width: 208px;
    font-weight: bold;
    color: white;
    font-family: "Ubuntu";
    font-size: 0.95em;
    background-image: url(../icon/bg-purple.jpg);

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-shadow: 0px 0px 4px #d9d9d9;
    -moz-box-shadow: 0px 0px 4px #d9d9d9;
    -webkit-box-shadow: 0px 0px 4px #d9d9d9;
}

.submit {
    width: 31px;
    height: 32px;
    border: 0px solid white;

    box-shadow: 0px 0px 0px #d9d9d9;
    -moz-box-shadow: 0px 0px 0px #d9d9d9;
    -webkit-box-shadow: 0px 0px 0px #d9d9d9;
}



/* Table */
div.CLS_DIV_TAB {
    width:96%;
    width:96%;
    margin-left:0px;
    clear: both;
    height: 100%;
}



table.CLS_TBL {
    width: 100%;
    margin:auto;
    table-layout: fixed;
    font-family: "Ubuntu";
    font-size: 1.00em;          /* Custom */
    font-weight: normal;
    border: 0px solid gray;
    background-color:black;
}

tr.CLS_TBL_HDR th {
    height: 10px;
    color: white;
    padding: 2px;
    font-family: "Ubuntu";
    border: 0px solid black;
}


tr.CLS_TBL_ROW {
    font-weight: normal;
    color: black;
    padding-top: 0px;
    overflow: hidden;
    font-family: "Ubuntu";
    border: 1px solid white;
    font-size: 0.90em;
    padding: 0px;
    /*white-space:nowrap;    */
    /* word-wrap:break-all; */
    /*border-collapse: separate;*/
}

/*tr.CLS_TBL_ROW td{
    overflow: hidden;
    text-align:center;
}*/

.TD_L {
    white-space:norap;
    word-wrap:break-word;
    /* line-height: 10px; */
    /* height: 10px; */
    overflow: hidden;
    text-align:left;
    padding:4px;
    overflow:hidden;text-overflow: ellipsis; 
    vertical-align:middle; 
}

.TD_C {
    /*white-space:nowrap;*/
    /*word-wrap:break-word;    */
    overflow: hidden;
    text-align:center;
    padding:4px;
    vertical-align:middle; 
}

.TD_R {
    /*white-space:nowrap;*/
    /*word-wrap:break-word;*/
    overflow: hidden;
    text-align:right;
    vertical-align: top;
    padding:4px;
    vertical-align:middle; 
}




/*#3F3E3E;*/

/* Placeholder */
input::-moz-placeholder {
    font-family: "Ubuntu";
    font-size: 0.95em;
    font-weight: normal;
    color: gray;
}

#id_tar_myr::-moz-placeholder {
    font-family: "Ubuntu";
    font-size: 0.95em;
    font-weight: normal;
    color: gray;
}

input::-webkit-input-placeholder {
    font-family: "Ubuntu";
    font-size: 0.95em;
    font-weight: normal;
    color: gray;
}

#id_tar_myr::-webkit-input-placeholder {
    font-family: "Ubuntu";
    font-size: 0.95em;
    font-weight: normal;
    color: gray;
}





/** Date Picker **/
.ui-datepicker-week-end, .ui-datepicker-week-end a.ui-state-default {
    color: red;
}

.ui-datepicker {
    color: #EEE;
    background: #333;
    border: 1px solid #555;
    font-family: Ubuntu;
    font-size: 16px;
    /* 	position: relative !important;
        top: -660px !important;
        left: 800px !important; */
}

.ui-datepicker-calendar .ui-state-hover {
    background: lime;
}

.ui-datepicker-div .ui-state-highlight {
    background: #E6E6E6;
    color: #555555;
    border: 1px solid #D3D3D3;
}



/** CSS Top Menu - Drop Down Menu **/
#menu {
    margin: auto;
    margin-top: 0px;
    padding: 0px;
    font-family: "Ubuntu";
    font-size: 0.95em;
    font-weight: normal;
    position: relative;
}

#menu ul {
    margin: auto;
    padding: 0px;
    list-style: none;

    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menu ul li a {
    color: cyan;
    /* color: cyan; */
    width:80px;
    text-align:center;
    background:gray !important;
    /* background:gray !important; */
    display:block;
    text-decoration:none;
    white-space:nowrap;
    border:1px solid black;
    /* border:1px solid gray; */
    padding:5px 15px 5px 15px;
    margin-left:1px;
    cursor:default;
}

#menu li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: left;
    position: relative;
}

#menu li a:hover {
    background: darkgreen !important;
}

#menu li ul {
    display: none;
}

#menu li:hover ul {
    display: block;
    position: absolute;
    z-index: 100
}

#menu ul li a + ul li a:hover {
    background-color: darkgreen !important;
    color: white;
    cursor: pointer;
    font-weight: bold;
}



/* UI title bar */
.ui-dialog-titlebar {
    background-color: orange;
    background-image: none;
    color: #000;
}

/* simple css-based tooltip */
.ui-tooltip,
.arrow:after {
    background: darkgreen !important;
    border: 1px solid olive;
}

.ui-tooltip {
    padding: 10px 20px;
    color: white !important;
    border-radius: 10px !important;
    font: normal 0.95em "Ubuntu";
    box-shadow: 0 0 7px cyan;
}

.arrow {
    width: 30px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.arrow.top:after {
    bottom: -20px;
    top: auto;
}

.srchHilite { background: yellow; }



